.side {
  width: 29%;
}
.side-padding-20 {
  padding: 20px;
}
.side-margin-bottom-20 {
  margin-bottom: 20px;
}
.side-border {
  border: 1px solid $main-border-color;
}
.hover:hover {
  color: $main-active-color!important;
}
